<ion-view view-title="我的订单" >
    <ion-nav-bar class="bar-stable bar-positive">
    </ion-nav-bar>
    <ion-content>
        <baidu-map options="mapOptions" style="width: 100%; height: 400px;display: block;" id="mapView"></baidu-map>
        <div id="r-result">请输入地点:<input type="text" id="suggestId" size="20" value="百度" style="width:150px;border: 1px solid #e1e1e1" /></div>
        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
    </ion-content>
</ion-view>